/dist
/node_modules
/build
/coverage
*.log
.DS_Store
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.env.*.local
.env.local
.temp
.tmp
/src/generated
*.tsbuildinfo
